@import "../global/theme-variables";

.project-section {

    .scroll-container {
        position: fixed;
        left: 0;
        right: 0;
        will-change: transform;

        .ghost {
            width: 100vw;
        }
    }

    .project-container {
        position: relative;
        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;
        padding: 0 30px;

        
    }

    .projects {
        position: relative;
        display: flex;
        .project {
            width: 100vw;
            height: 40vh;
        }
    }

    img{
        border-radius: 20px
    }
    p,li {
        color: #CCC;
    }

    h5 {
        margin-top: $spacing-m;
    }

    .technology-wrapper {
        margin-top: $spacing-m;
        gap: 10px;

        .tech-badge {
            display: flex;
            align-items: center;
            border: 2px dashed $color-2;
            padding: 4px 10px;
            border-radius: 8px;
            gap: 10px;
        }
    }

        .slick-slide{
            padding-left: 15px;
            padding-right: 15px;
        }

        .slick-arrow{
            &.slick-next,&.slick-prev{
                height: 50px;
                width: 50px;
                &::before{
                    font-size: 40px;    
                    color: $color-2;
                }
            }

            &.slick-next{
                right: 10px;
            }

            &.slick-prev{
                left: 10px;
                z-index: 1;
            }

        }
}

@media (max-width:991px) {
    .project-section{
        .scroll-container{

            .project{
                height: 100% !important;
                padding: 20px;
            }
        }

        .mask{
            background-color: transparent !important;
            backdrop-filter: none;
            &::before{
                display: none;
            }
        }
    }
}