.header {
    min-height: 72px;
    padding-top: 45px;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;

    .navbar-menu {
        position: relative;
        padding: 8px 11px;
        background-color: rgba(255, 255, 255, .05);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
        column-gap: 16px;

        &::before{
            position: absolute;
            content: '';
            border-radius: 50px;
            inset: 0;
            background: linear-gradient(30deg, #ffffff24 60%, #9747FF);
            mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            z-index: -1;
            padding: 1px;
        }

        a {
            padding: 8px;
            transition: background-color .2s;
            border-radius: 100%;

            &:hover{
                background-color: rgba(64,64,64,.5);
            }

            &.active {
                border: 1px solid $color-2;
                background-color: rgba(123, 75, 255, .31);
                border-radius: 50px;
            }
        }
    }
}