@import "../global//theme-variables";

footer {
    position: relative;
    background-position: center center;
    background-size: cover;

    .bgimage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: $color-5;
        opacity: 0.8;
    }

    .overlay {
        background-image: linear-gradient(to bottom, $color-5 21%, rgba(255, 255, 255, 0));
        padding-top: 14%;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%;
    }

    .footer-wrapper{
        margin-top: $spacing-xxxl;
    }

    .footer-social-links{
        
        span{
            color: $color-1;
            padding-left: $spacing-xl;
        }

        a{
            display: inline-block;
            .mail{
                background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM17.6 4.25L10.53 8.67C10.21 8.87 9.79 8.87 9.47 8.67L2.4 4.25C2.29973 4.19371 2.21192 4.11766 2.14189 4.02645C2.07186 3.93525 2.02106 3.83078 1.99258 3.71937C1.96409 3.60796 1.9585 3.49194 1.97616 3.37831C1.99381 3.26468 2.03434 3.15581 2.09528 3.0583C2.15623 2.96079 2.23632 2.87666 2.33073 2.811C2.42513 2.74533 2.53187 2.69951 2.6445 2.6763C2.75712 2.65309 2.87328 2.65297 2.98595 2.67595C3.09863 2.69893 3.20546 2.74453 3.3 2.81L10 7L16.7 2.81C16.7945 2.74453 16.9014 2.69893 17.014 2.67595C17.1267 2.65297 17.2429 2.65309 17.3555 2.6763C17.4681 2.69951 17.5749 2.74533 17.6693 2.811C17.7637 2.87666 17.8438 2.96079 17.9047 3.0583C17.9657 3.15581 18.0062 3.26468 18.0238 3.37831C18.0415 3.49194 18.0359 3.60796 18.0074 3.71937C17.9789 3.83078 17.9281 3.93525 17.8581 4.02645C17.7881 4.11766 17.7003 4.19371 17.6 4.25Z" fill="white"></path> </svg>');
                height: 40px;
                width: 40px;
                background-repeat: no-repeat;
            }

            .linkedin{
                background-image: url('data:image/svg+xml;utf8,<svg width="50" height="50" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.2549 15.339H13.5899V11.162C13.5899 10.166 13.5699 8.884 12.1999 8.884C10.8109 8.884 10.5989 9.968 10.5989 11.089V15.339H7.93292V6.75H10.4929V7.92H10.5279C10.8859 7.246 11.7559 6.533 13.0559 6.533C15.7559 6.533 16.2559 8.311 16.2559 10.624V15.339H16.2549ZM4.92292 5.575C4.71948 5.57526 4.51798 5.53537 4.32999 5.45761C4.14199 5.37984 3.97119 5.26574 3.82738 5.12184C3.68357 4.97793 3.56957 4.80706 3.49193 4.61901C3.41429 4.43097 3.37453 4.22944 3.37492 4.026C3.37512 3.71983 3.4661 3.4206 3.63636 3.16615C3.80662 2.91169 4.04852 2.71343 4.33145 2.59645C4.61439 2.47947 4.92566 2.44902 5.2259 2.50894C5.52615 2.56886 5.80188 2.71648 6.01823 2.93311C6.23458 3.14974 6.38184 3.42566 6.44137 3.72598C6.50091 4.0263 6.47005 4.33753 6.3527 4.62032C6.23536 4.9031 6.03679 5.14474 5.78211 5.31467C5.52744 5.4846 5.22809 5.5752 4.92192 5.575H4.92292ZM6.25892 15.339H3.58592V6.75H6.25992V15.339H6.25892ZM17.5899 0H2.24892C1.51292 0 0.919922 0.58 0.919922 1.297V16.703C0.919922 17.42 1.51392 18 2.24792 18H17.5859C18.3199 18 18.9199 17.42 18.9199 16.703V1.297C18.9199 0.58 18.3199 0 17.5859 0H17.5889H17.5899Z" fill="white"></path> </svg>');
                height: 40px;
                width: 40px;
                background-repeat: no-repeat;
            }

            .github{
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="34" height="34"><path d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z" fill="white"/></svg>');
                height: 40px;
                width: 40px;
                background-repeat: no-repeat;
            }

            .instagram{
                background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.9199 5.2C9.97057 5.2 9.04254 5.48152 8.25318 6.00895C7.46383 6.53638 6.8486 7.28603 6.4853 8.16312C6.122 9.04021 6.02694 10.0053 6.21215 10.9364C6.39736 11.8675 6.85452 12.7228 7.52581 13.3941C8.1971 14.0654 9.05238 14.5226 9.98349 14.7078C10.9146 14.893 11.8797 14.7979 12.7568 14.4346C13.6339 14.0713 14.3835 13.4561 14.911 12.6667C15.4384 11.8774 15.7199 10.9494 15.7199 10C15.7199 8.72696 15.2142 7.50606 14.314 6.60589C13.4139 5.70571 12.193 5.2 10.9199 5.2ZM10.9199 13.2C10.287 13.2 9.66833 13.0123 9.1421 12.6607C8.61586 12.3091 8.20571 11.8093 7.96351 11.2246C7.72131 10.6399 7.65794 9.99645 7.78141 9.37571C7.90488 8.75497 8.20965 8.18479 8.65718 7.73726C9.10471 7.28973 9.67489 6.98496 10.2956 6.86149C10.9164 6.73801 11.5598 6.80138 12.1445 7.04359C12.7292 7.28579 13.229 7.69594 13.5806 8.22218C13.9322 8.74841 14.1199 9.3671 14.1199 10C14.1173 10.8479 13.7793 11.6603 13.1798 12.2598C12.5802 12.8594 11.7678 13.1974 10.9199 13.2ZM15.3199 0H6.51992C5.03471 0 3.61033 0.589998 2.56012 1.6402C1.50992 2.69041 0.919922 4.11479 0.919922 5.6V14.4C0.919922 15.8852 1.50992 17.3096 2.56012 18.3598C3.61033 19.41 5.03471 20 6.51992 20H15.3199C16.8051 20 18.2295 19.41 19.2797 18.3598C20.3299 17.3096 20.9199 15.8852 20.9199 14.4V5.6C20.9199 4.11479 20.3299 2.69041 19.2797 1.6402C18.2295 0.589998 16.8051 0 15.3199 0ZM19.3199 14.4C19.3199 14.9253 19.2165 15.4454 19.0154 15.9307C18.8144 16.416 18.5198 16.857 18.1483 17.2284C17.7769 17.5999 17.336 17.8945 16.8507 18.0955C16.3654 18.2965 15.8452 18.4 15.3199 18.4H6.51992C5.99463 18.4 5.47449 18.2965 4.98919 18.0955C4.50389 17.8945 4.06293 17.5999 3.69149 17.2284C3.32006 16.857 3.02542 16.416 2.8244 15.9307C2.62338 15.4454 2.51992 14.9253 2.51992 14.4V5.6C2.51992 4.53913 2.94135 3.52172 3.69149 2.77157C4.44164 2.02143 5.45906 1.6 6.51992 1.6H15.3199C15.8452 1.6 16.3654 1.70346 16.8507 1.90448C17.336 2.1055 17.7769 2.40014 18.1483 2.77157C18.5198 3.14301 18.8144 3.58396 19.0154 4.06927C19.2165 4.55457 19.3199 5.07471 19.3199 5.6V14.4ZM17.3199 4.8C17.3199 5.03734 17.2495 5.26935 17.1177 5.46668C16.9858 5.66402 16.7984 5.81783 16.5791 5.90866C16.3599 5.99948 16.1186 6.02324 15.8858 5.97694C15.653 5.93064 15.4392 5.81635 15.2714 5.64853C15.1036 5.48071 14.9893 5.26689 14.943 5.03411C14.8967 4.80133 14.9204 4.56005 15.0113 4.34078C15.1021 4.12151 15.2559 3.93409 15.4532 3.80224C15.6506 3.67038 15.8826 3.6 16.1199 3.6C16.4382 3.6 16.7434 3.72643 16.9685 3.95147C17.1935 4.17652 17.3199 4.48174 17.3199 4.8Z" fill="white"></path> </svg>');
                height: 40px;
                width: 40px;
                background-repeat: no-repeat;
            }

            &:hover{

                .mail{
                    background-image: url('data:image/svg+xml;utf8,<svg width="40" height="40" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM17.6 4.25L10.53 8.67C10.21 8.87 9.79 8.87 9.47 8.67L2.4 4.25C2.29973 4.19371 2.21192 4.11766 2.14189 4.02645C2.07186 3.93525 2.02106 3.83078 1.99258 3.71937C1.96409 3.60796 1.9585 3.49194 1.97616 3.37831C1.99381 3.26468 2.03434 3.15581 2.09528 3.0583C2.15623 2.96079 2.23632 2.87666 2.33073 2.811C2.42513 2.74533 2.53187 2.69951 2.6445 2.6763C2.75712 2.65309 2.87328 2.65297 2.98595 2.67595C3.09863 2.69893 3.20546 2.74453 3.3 2.81L10 7L16.7 2.81C16.7945 2.74453 16.9014 2.69893 17.014 2.67595C17.1267 2.65297 17.2429 2.65309 17.3555 2.6763C17.4681 2.69951 17.5749 2.74533 17.6693 2.811C17.7637 2.87666 17.8438 2.96079 17.9047 3.0583C17.9657 3.15581 18.0062 3.26468 18.0238 3.37831C18.0415 3.49194 18.0359 3.60796 18.0074 3.71937C17.9789 3.83078 17.9281 3.93525 17.8581 4.02645C17.7881 4.11766 17.7003 4.19371 17.6 4.25Z" fill="%23ffda1d"></path> </svg>');
                }

                .linkedin{
                    background-image: url('data:image/svg+xml;utf8,<svg width=" 100%" height=" 100%" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M16.2549 15.339H13.5899V11.162C13.5899 10.166 13.5699 8.884 12.1999 8.884C10.8109 8.884 10.5989 9.968 10.5989 11.089V15.339H7.93292V6.75H10.4929V7.92H10.5279C10.8859 7.246 11.7559 6.533 13.0559 6.533C15.7559 6.533 16.2559 8.311 16.2559 10.624V15.339H16.2549ZM4.92292 5.575C4.71948 5.57526 4.51798 5.53537 4.32999 5.45761C4.14199 5.37984 3.97119 5.26574 3.82738 5.12184C3.68357 4.97793 3.56957 4.80706 3.49193 4.61901C3.41429 4.43097 3.37453 4.22944 3.37492 4.026C3.37512 3.71983 3.4661 3.4206 3.63636 3.16615C3.80662 2.91169 4.04852 2.71343 4.33145 2.59645C4.61439 2.47947 4.92566 2.44902 5.2259 2.50894C5.52615 2.56886 5.80188 2.71648 6.01823 2.93311C6.23458 3.14974 6.38184 3.42566 6.44137 3.72598C6.50091 4.0263 6.47005 4.33753 6.3527 4.62032C6.23536 4.9031 6.03679 5.14474 5.78211 5.31467C5.52744 5.4846 5.22809 5.5752 4.92192 5.575H4.92292ZM6.25892 15.339H3.58592V6.75H6.25992V15.339H6.25892ZM17.5899 0H2.24892C1.51292 0 0.919922 0.58 0.919922 1.297V16.703C0.919922 17.42 1.51392 18 2.24792 18H17.5859C18.3199 18 18.9199 17.42 18.9199 16.703V1.297C18.9199 0.58 18.3199 0 17.5859 0H17.5889H17.5899Z" fill="%23009aea"></path> </svg>');
                }

                .github{
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="34" height="34"><path d="M32 6C17.641 6 6 17.641 6 32c0 12.277 8.512 22.56 19.955 25.286-.592-.141-1.179-.299-1.755-.479V50.85c0 0-.975.325-2.275.325-3.637 0-5.148-3.245-5.525-4.875-.229-.993-.827-1.934-1.469-2.509-.767-.684-1.126-.686-1.131-.92-.01-.491.658-.471.975-.471 1.625 0 2.857 1.729 3.429 2.623 1.417 2.207 2.938 2.577 3.721 2.577.975 0 1.817-.146 2.397-.426.268-1.888 1.108-3.57 2.478-4.774-6.097-1.219-10.4-4.716-10.4-10.4 0-2.928 1.175-5.619 3.133-7.792C19.333 23.641 19 22.494 19 20.625c0-1.235.086-2.751.65-4.225 0 0 3.708.026 7.205 3.338C28.469 19.268 30.196 19 32 19s3.531.268 5.145.738c3.497-3.312 7.205-3.338 7.205-3.338.567 1.474.65 2.99.65 4.225 0 2.015-.268 3.19-.432 3.697C46.466 26.475 47.6 29.124 47.6 32c0 5.684-4.303 9.181-10.4 10.4 1.628 1.43 2.6 3.513 2.6 5.85v8.557c-.576.181-1.162.338-1.755.479C49.488 54.56 58 44.277 58 32 58 17.641 46.359 6 32 6zM33.813 57.93C33.214 57.972 32.61 58 32 58 32.61 58 33.213 57.971 33.813 57.93zM37.786 57.346c-1.164.265-2.357.451-3.575.554C35.429 57.797 36.622 57.61 37.786 57.346zM32 58c-.61 0-1.214-.028-1.813-.07C30.787 57.971 31.39 58 32 58zM29.788 57.9c-1.217-.103-2.411-.289-3.574-.554C27.378 57.61 28.571 57.797 29.788 57.9z" fill="%236e40c9"/></svg>');
                }

                .instagram{
                    background-image: url('data:image/svg+xml;utf8,<svg width=" 100%" height=" 100%" viewBox="0 0 31 30" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M10.9199 5.2C9.97057 5.2 9.04254 5.48152 8.25318 6.00895C7.46383 6.53638 6.8486 7.28603 6.4853 8.16312C6.122 9.04021 6.02694 10.0053 6.21215 10.9364C6.39736 11.8675 6.85452 12.7228 7.52581 13.3941C8.1971 14.0654 9.05238 14.5226 9.98349 14.7078C10.9146 14.893 11.8797 14.7979 12.7568 14.4346C13.6339 14.0713 14.3835 13.4561 14.911 12.6667C15.4384 11.8774 15.7199 10.9494 15.7199 10C15.7199 8.72696 15.2142 7.50606 14.314 6.60589C13.4139 5.70571 12.193 5.2 10.9199 5.2ZM10.9199 13.2C10.287 13.2 9.66833 13.0123 9.1421 12.6607C8.61586 12.3091 8.20571 11.8093 7.96351 11.2246C7.72131 10.6399 7.65794 9.99645 7.78141 9.37571C7.90488 8.75497 8.20965 8.18479 8.65718 7.73726C9.10471 7.28973 9.67489 6.98496 10.2956 6.86149C10.9164 6.73801 11.5598 6.80138 12.1445 7.04359C12.7292 7.28579 13.229 7.69594 13.5806 8.22218C13.9322 8.74841 14.1199 9.3671 14.1199 10C14.1173 10.8479 13.7793 11.6603 13.1798 12.2598C12.5802 12.8594 11.7678 13.1974 10.9199 13.2ZM15.3199 0H6.51992C5.03471 0 3.61033 0.589998 2.56012 1.6402C1.50992 2.69041 0.919922 4.11479 0.919922 5.6V14.4C0.919922 15.8852 1.50992 17.3096 2.56012 18.3598C3.61033 19.41 5.03471 20 6.51992 20H15.3199C16.8051 20 18.2295 19.41 19.2797 18.3598C20.3299 17.3096 20.9199 15.8852 20.9199 14.4V5.6C20.9199 4.11479 20.3299 2.69041 19.2797 1.6402C18.2295 0.589998 16.8051 0 15.3199 0ZM19.3199 14.4C19.3199 14.9253 19.2165 15.4454 19.0154 15.9307C18.8144 16.416 18.5198 16.857 18.1483 17.2284C17.7769 17.5999 17.336 17.8945 16.8507 18.0955C16.3654 18.2965 15.8452 18.4 15.3199 18.4H6.51992C5.99463 18.4 5.47449 18.2965 4.98919 18.0955C4.50389 17.8945 4.06293 17.5999 3.69149 17.2284C3.32006 16.857 3.02542 16.416 2.8244 15.9307C2.62338 15.4454 2.51992 14.9253 2.51992 14.4V5.6C2.51992 4.53913 2.94135 3.52172 3.69149 2.77157C4.44164 2.02143 5.45906 1.6 6.51992 1.6H15.3199C15.8452 1.6 16.3654 1.70346 16.8507 1.90448C17.336 2.1055 17.7769 2.40014 18.1483 2.77157C18.5198 3.14301 18.8144 3.58396 19.0154 4.06927C19.2165 4.55457 19.3199 5.07471 19.3199 5.6V14.4ZM17.3199 4.8C17.3199 5.03734 17.2495 5.26935 17.1177 5.46668C16.9858 5.66402 16.7984 5.81783 16.5791 5.90866C16.3599 5.99948 16.1186 6.02324 15.8858 5.97694C15.653 5.93064 15.4392 5.81635 15.2714 5.64853C15.1036 5.48071 14.9893 5.26689 14.943 5.03411C14.8967 4.80133 14.9204 4.56005 15.0113 4.34078C15.1021 4.12151 15.2559 3.93409 15.4532 3.80224C15.6506 3.67038 15.8826 3.6 16.1199 3.6C16.4382 3.6 16.7434 3.72643 16.9685 3.95147C17.1935 4.17652 17.3199 4.48174 17.3199 4.8Z" fill="%23be33ff"></path> </svg>');
                }
            }
        }
            
    }

    .contact-form{

        .form-wrapper{
            position: relative;
            padding: $spacing-xl;
            backdrop-filter: blur(3px);
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 20px;
            &::before{
                content: '';
                -webkit-mask: linear-gradient($color-1 0 0) content-box, linear-gradient($color-1 0 0);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                inset: 0;
                mask-composite: exclude;
                padding: 1px;
                background: linear-gradient(30deg, rgba(255, 255, 255, 0.1411764706) 60%, #9747FF);
                border-radius: 20px;
                z-index: -1;
            }
        }

        .form-control{
            background-color: transparent !important;
            border: 1px solid #7565a5 ;
            border-radius: 10px !important;
            color: #CCC;
        }

        .btn-primary{
            background-color: $color-2;
            border: none;
            border-radius: 10px;
            width: 100%;
            padding: 10px;
        }

        p{
            margin-top: 0;
            font-size: 14px;
        }
    }
}

@media (max-width:991px){
    footer{
        .inner-wrap{
            padding-bottom: 150px;
        }
        .contact-form{
            .form-wrapper{
                padding: $spacing-m;
                border-width: 1px;

                .form-control{
                    border-width: 1px;
                }
            }
        }
    }
}

@media (max-width:767px){
    footer{
        background-position: right center;
    }
}